.homepage {
    height: 40vh;
    display: flex;
    align-items: flex-end;
    padding: 0 50px;
    flex-direction: column;

    h1 {
        margin: auto;
    }

    p {     
        color: #4BA166;
    }

    @media (min-width: 640px) {
        p {
            font-size: xx-large;
        }
    }
}